*{
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Opcional: fondo para el viewport */
    font-family: 'Press Start 2P', 'Protest Strike', sans-serif; /* Mantén la fuente */
  }
  canvas {
    border: 2px solid #fff; /* Opcional: borde visible */
    display: block;
}
#canvas{
    height: 100%;
    width: 100%;
        
}
.cont{
    padding:20px;
}
.contvida{
    height: 30px;
    width: 100%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}
.v1{
    border-left: 4px solid white;
}
.v2{
    border-right: 4px solid white;
}
/* .vida{
    
    
} */
.p1{
    top: 0;
    width: 100%;
    right: 0;
    bottom: 0;
}
.p2{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.temporizador{
    background-color: black;
    height: 50px;
    width: 100px;
    color: white;
    border: 4px solid white;
}



.platform {
    position: absolute;
    width: 300px; 
    height: 30px; 
    background-color: green; 
}

#displayText{
    color: aliceblue;
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reloadButton{
    display: none; 
        position: absolute; 
        top: 40%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        cursor: pointer; 
        padding: 15px 25px;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 3px;
        box-shadow: 0px 1px 4px -2px #333;
        text-shadow: 0px -1px #333;
        border-radius: 10px;
        background: linear-gradient(blue,skyblue);
        font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
#SelectButton{
    display: none; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        cursor: pointer; 
        padding: 15px 25px;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 3px;
        box-shadow: 0px 1px 4px -2px #333;
        text-shadow: 0px -1px #333;
        border-radius: 10px;
        background: linear-gradient(blue,skyblue);
        font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

#menuButton{
    display: none; 
        position: absolute; 
        top: 60%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        cursor: pointer; 
        padding: 15px 25px;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 3px;
        box-shadow: 0px 1px 4px -2px #333;
        text-shadow: 0px -1px #333;
        border-radius: 10px;
        background: linear-gradient(blue,skyblue);
        font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}