*{
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

#canvas{
    height: 100%;
    width: 100%;
        
}
.cont{
    padding:20px;
}
.contvida{
    height: 30px;
    width: 100%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}
.v1{
    border-left: 4px solid white;
}
.v2{
    border-right: 4px solid white;
}
/* .vida{
    
    
} */
.p1{
    top: 0;
    width: 100%;
    right: 0;
    bottom: 0;
}
.p2{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.temporizador{
    background-color: black;
    height: 50px;
    width: 100px;
    color: white;
    border: 4px solid white;
}



.platform {
    position: absolute;
    width: 300px; 
    height: 30px; 
    background-color: green; 
}

#displayText{
    color: aliceblue;
    display: none;
}
